body {
	text-align: center;
}


ul {
	list-style-type: none;
	display: flex;
}

.wanted {
	display: flex;
}

figure .Gandalf {
	opacity: 0.4;

}

.Gandalf {
	z-index: 1;
}

.gandalf-text {
	position: relative;
	bottom: 15%;
	width: 80%;
	z-index: 2;
	font-size: 400%;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 10px;
	margin-left: 10%;
}

.gandalf-name {
	position: relative;
	top: 50%;
	color: white;
	font-size: 500%;
	z-index: 3;
	opacity: 1;
	color: white;
}

mark {
	color: orange;
	background-color: rgba(0, 0, 0, 0);
}


.card:hover .gandalf {
	opacity: 1;
}

.card:hover .gandalf-text {
	visibility: hidden;
}

.card:hover .gandalf-name {
	position: relative;
	top: 70%;
	font-size: 200%;
	z-index: 3;
	opacity: 1;
	color: white;
}

table {
	border-collapse: collapse;
	margin: auto;
}

td,
th {
	border: 1px solid black;
}
